{% extends "layout.html" %}
{% block subtitle %}Introduce{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="card" style="width:350px">
      <img class="card-img-top" src="https://avatars2.githubusercontent.com/u/52202004?s=400&u=5d32125973bd49e604990884e4711aa2f6df866a&v=4" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">정승기</h4>
        <p class="card-text"><strong>Team Leader</strong></p>
        <a href="#" class="btn btn-dark">See Profile</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
<hr>
<div class="row">

  <div class="col-lg-4">
    <div class="card" style="width:350px">
      <img class="card-img-top" src="https://nsimg.kbs.co.kr/data/news/2019/11/20/4327665_Fe2.jpg" alt="Card image", height="348">
      <div class="card-body">
        <h4 class="card-title">조현철</h4>
        <p class="card-text">Team Members</p>
        <a href="#" class="btn btn-dark">See Profile</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width:350px">
      <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/52646895?s=400&u=a72621251c5626392a83926e98b87c8fa62f4a22&v=4" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">곽필종</h4>
        <p class="card-text">Team Members</p>
        <a href="/introduce/kpj" class="btn btn-dark">See Profile</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width:350px">
      <img class="card-img-top" src="https://avatars1.githubusercontent.com/u/66045332?s=400&u=0a5c453ee898eddf011c0ee94628ff6ea1fe8493&v=4" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">조승기</h4>
        <p class="card-text">Team Members</p>
        <a href="#" class="btn btn-dark">See Profile</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}