{% extends "layout.html" %}
{% block subtitle %}Introduce{% endblock %}
{% block content %}
<div class="col-10">
                <div class="row" style="margin-left: 10px">
                    <div class="col-12">
                        <h3>자기 소개</h3>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                    <div class="col-3">
                        <!-- 사진 영역 -->
                        <img src="images/KSH.jpg" width="200px">
                    </div>
                    <div class="col-8">
                        <h5>이름 : 김소현</h5>
                        <hr>
                        <!-- content -->
                        컴퓨터 공학과를 졸업하고 개발👩 💻에 관심이 많습니다!<br>
                        스케이트보드🛹와 자전거🚲 타는 것을 좋아하고<br>
                        도넛을 굉장히 좋아해 한 달에 한번 신메뉴가 나오면 꼭 먹는 &lt;🍩도넛 모임🍩&gt;을 하고 있습니다.<br><br>
                    </div>
                    <div class="col-1">
                        <!-- etc -->
                    </div>
                </div>
                <br>
                <h3>✉️ Contact Me</h3>
                <p style="font-size: 20px;">&nbsp;&nbsp;&nbsp;이메일 : sosso555@naver.com
                    <br>&nbsp;&nbsp;&nbsp;github : <a href="https://github.com/sohyunk"><img src="images/GitHub-Mark-32px.png"></a></p>
                <br>
                <h5><i class="fas fa-school"></i> 학력 사항</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>학교</th>
                            <th>전공</th>
                            <th>기간</th>
                            <th>졸업여부</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>용인송담대학교</td>
                            <td>조명인테리어과</td>
                            <td>2014.03 ~ 2016.02</td>
                            <td>졸업</td>
                        </tr>
                        <tr>
                            <td>강남대학교</td>
                            <td>컴퓨터공학과</td>
                            <td>2018.03 ~ 2020.02</td>
                            <td>졸업</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}